.container {
  width: 470px;
  font-family: monospace; }

.column {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px; }

.buttons {
  padding: 10px; }

.buttons button {
  width: 140px;
  height: 40px;
  font-size: 25px;
  font-family: monospace;
  font-weight: bolder;
  background-color: white;
  color: #2793e6;
  border: 2px #2793e6 solid;
  border-radius: 5px; }

@media (max-width: 470px) {
  .container {
    width: auto; }
  .column {
    float: none;
    width: auto; } }
