$button-color: #2793e6

.container
  width: 470px
  font-family: monospace

.column
  float: left
  width: 50%
  box-sizing: border-box
  padding: 10px

.buttons
  padding: 10px

.buttons button
  width: 140px
  height: 40px
  font-size: 25px
  font-family: monospace
  font-weight: bolder
  background-color: white
  color: $button-color
  border: 2px $button-color solid
  border-radius: 5px

@media (max-width: 470px)
  .container
    width: auto

  .column
    float: none
    width: auto
